<div class="wholebody">
<h1>Current weather data for  <h1> {{locationName}}</h1></h1>

{{!-- Data taht we get from the API will show up here --}}
<p>{{data}}</p>
<p>Country: {{countryCode}}</p>
<p>The temperature is: {{temp}}C</p>
<p>Temperature feels like: {{feelsLike}}</p>
<p>Description of the weather: {{description}}</p>

</div>